@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica-BoldOblique';
  src: url('./fonts/Helvetica-BoldOblique.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./fonts/Helvetica-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica-Oblique';
  src: url('./fonts/Helvetica-Oblique.ttf') format('truetype');
}

body {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}
